*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  background-color:  #f9616696;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #f9e795;
  font-size: 20px;
 width: 500px;
 height: 200px;
 border: 2px solid black;
 margin-top: 200px;
}
input:focus{
  outline: none;
  border: none;
}
div{
  text-align: center;
  margin-top: 10px; ;
}
input{
  background-color:#f9e795c9 ;
  border: none;
  margin-left: 20px;
  border-bottom: 2px solid black;
}
